<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterUser</servlet-name>
        <servlet-class>RegisterUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPage</servlet-name>
        <servlet-class>LoginPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPost</servlet-name>
        <servlet-class>AddPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OTP</servlet-name>
        <servlet-class>OTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPerson</servlet-name>
        <servlet-class>SearchPerson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendRequest</servlet-name>
        <servlet-class>SendRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Accept</servlet-name>
        <servlet-class>Accept</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Decline</servlet-name>
        <servlet-class>Decline</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterUser</servlet-name>
        <url-pattern>/RegisterUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPage</servlet-name>
        <url-pattern>/LoginPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPost</servlet-name>
        <url-pattern>/AddPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OTP</servlet-name>
        <url-pattern>/OTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPerson</servlet-name>
        <url-pattern>/SearchPerson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendRequest</servlet-name>
        <url-pattern>/SendRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Accept</servlet-name>
        <url-pattern>/Accept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Decline</servlet-name>
        <url-pattern>/Decline</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
